@model List<Libro>

@{
    List<int> listaSession =
Context.Session.GetObject<List<int>>("Idlibro");
}


@if (Context.Session.GetObject<List<int>>("Idlibro") != null)
{
    foreach (Libro libro in Model)
    {

   <h1>@libro.Titulo</h1>
    }

<a class="btn-link"
asp-controller="Usuarios"
asp-action="FinalizarCompra">
Finalizar compra
 </a>
  }
 else
 {
    <h1>No hay nada en el carrito</h1>
  }
