@model List<Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Todos los libros</h1>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="~/Images/@item.Portada" class="card-img-top" >
        <div class="card-body">
            <a class="btn-link"
               asp-controller="Libros"
               asp-action="DetallesLibro"
               asp-route-idlibro="@item.IdLibro">
            <h5 class="card-title">@item.Titulo</h5></a>
        </div>
    </div>
}
