<h1 style="color:blue">
    Log In 
</h1>

<form method="post">
    <label>Email: </label>
    <input type="text" name="email"
           class="form-control" />
    <br />
    <label>Password: </label>
    <input type="text" name="password"
           class="form-control" />
    <br />
    <button type="submit" class=" btn btn-outline-info">
        Log In
    </button>
</form>
<h1 style="color:red">
    @ViewData["MENSAJEACCESODENEGADO"]
</h1>